In [22]:
import pandas
import numpy
import seaborn
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import *

In [23]:
file_path = "..//7 - TF-IDF//behavior.csv"

In [24]:
with open(file_path,"r") as f:
    table = pandas.read_csv(f)

ParserError: Error tokenizing data. C error: Expected 63494 fields in line 9, saw 121916

In [21]:
table

,wwwwwwwwwwwwwwx,abcdefghijklmnopqrstuvwxyz,digicert inc1,desktop,greater manchester1,salford1,"sectigo limited1$0""",new jersey1,jersey city1,"0,",...,%k$ws0o,4;nj}du,"n<,i}%",o*${rli,<iy/l=4,kbx?|s,a]/kt%e,hrfesph;,m-en1x,id
0,0.023029,0.004208,0.010028,0.012681,0.007849,0.007849,0.008108,0.008583,0.008583,0.008583,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,192
1,0.000000,0.000000,0.000000,0.000000,0.008978,0.008978,0.009274,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,193
2,0.000000,0.003359,0.000000,0.010122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,194
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,195
4,0.000000,0.010476,0.024964,0.000000,0.039082,0.039082,0.020185,0.014245,0.014245,0.014245,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1443
1074,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1444
1075,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1445
1076,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,0.007591,1446
1077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1451